{% extends 'base.html' %}
{% load auth_extras %}
{% load static %}
{% block content %}

   

    {% if user|is_user:self %}
    <div class="wrapper">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="top-icons">
            <i class="fas fa-long-arrow-alt-left"></i>
            <i class="fas fa-ellipsis-v"></i>
            <i class="far fa-heart"></i>
        </div>
        <div class="profile">
            <div class="image-sec" style='justify-content: space-between;'>
                <button class="image-button" onclick="openimageForm()">
                    <p class="image">{% if user.image %}Change Image{% else %}Add Image{% endif %}</p>
                </button>
                <a href={% url "imageform" username=user.username %}  >
                    <img src="{% if user.image %}{% static 'media/' %}{{user.image}}{% else %}{% static "media/no_image.jpg" %}{% endif %}" class="thumbnail">
                </a>
   
            </div>


            <div class="check"><i class="fas fa-check"></i></div>
          
            <button class="open-button" onclick="openusernameForm()">
                <p><h3 class="name">{{user.username}}</h3></p>
            </button>

            <button class="open-button" onclick="openbioForm()">
                <br><p class="description">{% if user.bio %}{{user.bio}}{% else %}Bio{% endif %}</p>
            </button>

            <button class="open-button" onclick="openemailphoneForm()">
                <p class="email">{% if user.email %}{{user.email}}{% else %}Email{% endif %}</p>
                <p class="phone">{% if user.phone %}{{user.phone}}{% else %}None{% endif %}</p>
            </button>

            <p>
                <a class="btn btn-primary btn-lg" href="{% url "contacts" username=user.username %}" role="button">Contacts</a>
            </p>
    
        </div>

    {% comment %} The pop-up hidden form {% endcomment %}

    <div>
        <div class="form-popup" id="imageform">
            <form method="POST" enctype="multipart/form-data" action="{% url "imageform" username=user.username %}" class="form-container">
                {% csrf_token %}
                <div class="field">
                    <label for="{{ imageform.id_for_label }}" class="label"></label>
                    <div class="control" >
                        {{ imageform}}
                    </div>
                    <p class="help is-danger">{{ imageform.errors }}</p>
                </div>
                <button type="submit" class="btn">Save</button>
                <button type="button" class="btn cancel" onclick="closeimageForm()">Close</button>
            </form>
        </div>

    <div>
        <div class="form-popup" id="emailform">
            <form method="POST" action="{% url "emailphoneform" username=user.username %}" class="form-container">
                {% csrf_token %}
                <div class="field">
                    <label for="{{ emailform.id_for_label }}" class="label"></label>
                    <div class="control" >
                        {{ emailform}}
                    </div>
                    <p class="help is-danger">{{ emailform.errors }}</p>
                </div>
                <button type="submit" class="btn">Save</button>
                <button type="button" class="btn cancel" onclick="closeemailphoneForm()">Close</button>
            </form>
        </div>

        <div class="form-popup" id="bioform">
            <form method="POST" action="{% url "bioform" username=user.username %}" class="form-container">
                {% csrf_token %}
                <div class="field">
                    <label for="{{ bioform.id_for_label }}" class="label"></label>
                    <div class="control" >
                        {{ bioform}}
                    </div>
                    <p class="help is-danger">{{ bioform.errors }}</p>
                </div>
                <button type="submit" class="btn">Save</button>
                <button type="button" class="btn cancel" onclick="closebioForm()">Close</button>
            </form>
        </div>

        <div class="form-popup" id="usernameform">
            <form method="POST" action="{% url "usernameform" username=user.username %}" class="form-container">
                {% csrf_token %}
                <div class="field">
                    <label for="{{ usernameform.id_for_label }}" class="label"></label>
                    <div class="control" >
                        {{ usernameform}}
                    </div>
                    <p class="help is-danger">{{ usernameform.errors }}</p>
                </div>
                <button type="submit" class="btn">Save</button>
                <button type="button" class="btn cancel" onclick="closeusernameForm()">Close</button>
            </form>
        </div>
    </div>
    </div>    
    </div>
    {% else %}
    <div class="wrapper">
        <div class="top-icons">
            <i class="fas fa-long-arrow-alt-left"></i>
            <i class="fas fa-ellipsis-v"></i>
            <i class="far fa-heart"></i>
        </div>
        <div class="profile">
            <img src="{% if user.image %}{% static 'media/' %}{{user.image}}{% else %}{% static "media/no_image.jpg" %}{% endif %}" class="thumbnail">
            <div class="check"><i class="fas fa-check"></i></div>
            <h3 class="name">{{user.username}}</h3>
            <p class="description">{% if user.bio %}{{user.bio}}{% else %}Bio{% endif %}</p>
            <p class="email">{{user.email}}</p>
            <p class="phone">{% if user.phone %}{{user.phone}}{% else %}None{% endif %}</p>
            <p>
                <a class="btn btn-primary btn-lg" href="{% if user|is_contact:self %}{% url "remove_from_contacts" username=user.username %}{% else %}{% url "add_to_contacts" username=user.username %} {% endif %}" role="button">
                {% if user|is_contact:self %}Remove {% else %}Add {% endif %}</a>
            </p>
            {{ user|pv_chat:self }}
            <p>
                <a class="btn btn-primary btn-lg" href="{% url "pv_room" pk=user|pv_chat:self %}" role="button">Chat</a>
            </p>
        </div>
    </div>    
    </div>
    {% endif %}

  


<script>
    {% comment %} pop-up form js {% endcomment %}
    function openemailphoneForm() {
        document.getElementById("emailform").style.display = "block";
        }  
    function closeemailphoneForm() {
        document.getElementById("emailform").style.display = "none";
        }

    function openbioForm() {
        document.getElementById("bioform").style.display = "block";
        }
    function closebioForm() {
        document.getElementById("bioform").style.display = "none";
        }

    function openusernameForm() {
        document.getElementById("usernameform").style.display = "block";
        }
    function closeusernameForm() {
        document.getElementById("usernameform").style.display = "none";
        }

    function openimageForm() {
        document.getElementById("imageform").style.display = "block";
        }
    function closeimageForm() {
        document.getElementById("imageform").style.display = "none";
        }
</script>
<style>
    {% comment %} form style {% endcomment %}
    {box-sizing: border-box;}

    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
        background-color: white;
        color: black;
        cursor: pointer;
        opacity: 0.8;
        border: none;
    }
    
    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        border: none; 
        outline: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }
    
    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: #f1f1f1;
    }
    
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=phone] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: white;
    }
    
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=phone]:focus {
        background-color: #ddd;
        border: none;
        outline: none;
    }
    
    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: blue;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
{% comment %}  {% endcomment %}
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      body {
        width: 100%;
        height: 100vh;
          display: flex;
          position: relative;
          background: #eeeeec;
        align-items: center;
          flex-direction: column;
          justify-content: center;
          
          font-family: 'Open Sans', sans-serif;
          font-size: 100%;
      }
      
      // ------------------------------------------------
      
      $purple-gradient: linear-gradient(45deg, rgba(87,29,146,1) 0%,rgba(172,25,102,1) 100%);
      $purple-gradient: linear-gradient(to bottom right, #C90A6D, #FF48A0);
      $blue1-gradient: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
      $blue2-gradient: linear-gradient(to bottom right, #6452E9, #639FF9);
      $shadow: 0 13px 26px rgba(#000, .2), 0 3px 6px rgba(#000, .2);
      
      // ------------------------------------------------
      
      .customSlider {
        opacity: 0;
        display: none;
          + label {
              position: relative;
              top: 35px;
              left: 15px;
              cursor: pointer;
              &:before, &:after {
                  background: #FFFFFF;
                  position: absolute;
                  content: '';
              }
              &:before {
                  top: -90px; left: -60px;
                  width: 80px;
                  height: 40px;
                  background: #ccc;
                  border-radius: 20px;
                  transition: background .75s;
              }
              &:after {
                  height: 34px; width: 34px;
                  top: -87px; left: -55px;
                  border-radius: 50%;
                  transition: all .5s;
              }
          }
          
          &:checked + label:after {
              height: 34px; width: 34px;
              top: -87px; left: -19px;
              border-radius: 50%;
          }
          
          &:checked ~ .wrapper {
              color: #fff;
              transition: background .6s ease;
              background: #31394D;
              
              .top-icons {
                  i {
                      color: #fff;
                  }
              }
              
              .profile {
                  // &:after {background: #ececece;}
                  .name {
                      color: #FDFEFF;
                  }
                  
                  .title {
                      color: #7C8097;
                  } 
                  
                  .description {
                      color: #FDFEFF;
                  }
              }
              .icon {
                  h4 {
                      color: #FFFFFF;
                  }
                  
                  p {
                      color: #666B7D;
                  }
              }
          }
      }
      
      .wrapper {
        width: 320px;
        height: 540px;
        background: #FDFEFF;
          transition: background .6s ease;
          border-radius: 10px;
          padding: 20px 20px 20px 20px;
          box-shadow: 0 8px 40px rgba(#000000, .2);
          
          .top-icons {
              i {
                  color: #080911;
                  &:nth-of-type(1) {
                      float: left;
                  }
                  &:nth-of-type(2) {
                      float: right;
                  }
                  &:nth-of-type(3) {
                      float: right;
                      padding-right: .8em;
                  }
              }
          }
          .profile {
              margin-top: 2.2em;
              position: relative;
              
              &:after {
                  width: 100%;
                  height: 1px;
                  content: ' ';
                  display: block;
                  margin-top: 1.3em;
                  background: #E9EFF6;
              }
              
              .check {
                  position: absolute;
                  right: 5em;
                  bottom: 12.7em;
                  i {
                      color: #fff;
                      width: 20px;
                      height: 20px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: center;
                      border-radius: 100%;
                      background: $purple-gradient;	
                  }
              }
              .thumbnail {
                  width: 124px;
                  height: 124px;
                  display: flex;
                  margin-left: auto;
                  margin-right: auto;
                  margin-bottom: 1.5em;
                  border-radius: 100%;
                  box-shadow: $shadow;
              }
              .name {
                  color: #2D354A;
                  font-size: 24px;
                  font-weight: 600;
                  text-align: center;
              }
              
              .title {
                  color: #7C8097;
                  font-size: .75em;
                  font-weight: 300;
                  text-align: center;
                  padding-top: .5em;
                  padding-bottom: .7em;
                  letter-spacing: 1.5px;
                  text-transform: uppercase;
              }
              
              .description {
                  color: #080911;
                  font-size: 14px;
                  font-weight: 300;
                  text-align: center;
                  margin-bottom: 1.3em;
              }
              
              .btn {
                  color: #fff;
                  width: 130px;
                  height: 42px;
                  outline: none;
                  border: none;
                  display: block;
                  cursor: pointer;
                  font-weight: 300;
                  margin-left: auto;
                  margin-right: auto;
                  border-radius: 70px;
                  box-shadow: 0 13px 26px rgba(#000, .16), 0 3px 6px rgba(#000, .16);
                  background: $purple-gradient;
              }
          }
          
          .social-icons {
              display: flex;
              margin-top: 1.2em;
              justify-content: space-between;
              
              .icon {
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  a {
                      color: #fff;
                      width: 60px;
                      height: 60px;
                      font-size: 28px;
                      line-height: 60px;
                      text-align: center;
                      border-radius: 30px;
                      box-shadow: $shadow;
                  }
                  &:nth-of-type(1) {
                      a {
                          background: $purple-gradient;
                      }
                  }
                  &:nth-of-type(2) {
                      a {
                          background: $blue1-gradient;
                      }
                  }
                  &:nth-of-type(3) {
                      a {
                          background: $blue2-gradient;
                      }
                  }
                  
                  h4 {
                      color: #080911;
                      font-size: 1em;
                      margin-top: 1.3em;
                      margin-bottom: .2em;
                  }
                  
                  p {
                      color: #666B7D;
                      font-size: 12px;		
                  }
              }
          }
      }
      
      .concept {
          position: absolute;
          bottom: 25px;
          color: #AAB0C4;
          font-size: .9em;
          font-weight: 400;
          a {
              color: rgba(172,25,102,1);
              text-decoration: none;
          }
      }
</style>
{% endblock content %}
